<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>

<body>
<div id="app">
    <!-- 搜索表单 -->
    <el-form :inline="true" :model="brand" class="demo-form-inline">
        <el-form-item label="当前状态">
            <el-select v-model="brand.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="企业名称">
            <el-input v-model="brand.companyName" placeholder="企业名称"></el-input>
        </el-form-item>
        <el-form-item label="品牌名称">
            <el-input v-model="brand.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!-- 删除和新增 -->
    <el-button type="danger" plain>批量删除</el-button>
    <el-button type="primary" plain @click="dialogFormVisible = true">新增</el-button>


    <!-- 添加数据对话框表单 -->
    <el-dialog title="编辑品牌" :visible.sync="dialogFormVisible">
        <el-form :model="brand">
            <el-form-item label="品牌名称" label-width="80px">
                <el-input v-model="brand.brandName" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="企业名称">
                <el-input v-model="brand.companyName" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="排序">
                <el-input v-model="brand.ordered" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="备注">
                <el-input v-model="brand.description" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="状态">
                <el-switch
                        v-model="brand.status"
                        active-value="1"
                        active-value="0">
                </el-switch>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">提交</el-button>
            <el-button type="primary" @click="dialogFormVisible = false">取消</el-button>
        </div>
    </el-dialog>

    <!-- 表格 -->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">
            <!-- 复选框 -->
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>

            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="brandName"
                    label="品牌名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="公司名称"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    label="排序"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="状态"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="操作"
                    align="center">
                <el-row>
                    <el-button type="primary">修改</el-button>
                    <el-button type="danger">删除</el-button>
                </el-row>
            </el-table-column>
        </el-table>
    </template>

    <!-- 分页工具 -->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[100, 200, 300, 400]"
            :page-size="100"
            layout="total, sizes, prev, pager, next, jumper"
            :total="400">
    </el-pagination>
</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el:"#app",

        data() {
            return {
                //添加数据框是否展示
                dialogFormVisible:false,
                //当前页码
                currentPage:4,
                //品牌模型数据
                brand: {
                    id:'',
                    brandName: '',
                    companyName: '',
                    ordered:'',
                    description:'',
                    status:'',
                },
                tableData: [{
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status:'1'
                },{
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status:'1'
                },{
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status:'1'
                },{
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status:'1'
                },],
                //复选框数据
                multipleSelection: [],

            }
        },
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            //处理复选框
            handleSelectionChange(val){
                this.multipleSelection = val;
                alert(val);
            },
            //查询
            onSubmit() {
                console.log(this.brand);
            },
            //添加数据
            addBrand(){
                console.log(this.brand);
            },
            //分页工具
            handleSizeChange(val){
                console.log("每页${val}条")
            },
            handleCurrentChange(){
                console.log("当前页：${val}")
            }
        }
    })
</script>
</body>
</html>